*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body>div{
    height: 100vh;
}



/* ********* 
       DIMENSIONAMENTO PAGINA ***** */


main{
    height: 90%;
    display: flex;
}
footer{
    height: 10%;
}

/* *********** MAIN ********** */


/* Colonna di SINISTRA */
.col-left{
    background-color: black;
    color: rgb(125, 127, 132);   
    width: 20%;
    padding: 30px 40px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    

}
.section-up-col-left i{
    margin-right: 0.5rem;
}
/* Lista Nuova playlist */
/* .new-playlist-container{
    overflow: scroll;
} */
.new-playlist{
   list-style-type: none;
}

.plus-playlist{
    background-color: rgb(125, 127, 132);
    padding: 20px;
    color: black;
}

.new-playlist li{
    margin-bottom: 1rem;
}

.section-up-col-left>div{
    margin-bottom: 1rem;
}
.section-down-col-left>div{
    margin-bottom: 1rem;
}
.section-down-col-left> hr{  
    width: 100%;
    color: rgb(125, 127, 132); 
}

/* Colonna DESTRA */
.col-right{ 
    background-color: rgb(20, 25, 34);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
}

/* UGRADE FIXED */
.upgrade-fixed{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.24);
    position: sticky;
    top:0;
    width: 100%;
    
    
}

.upgrade-fixed button{
   padding: 0.5rem 3rem 0.5rem 3rem;
   border-radius: 20px;
   background-color: rgba(0, 0, 0, 0.247);
   color: white;
   border-color: white;
   border-width: 1px;  
}

/* MUSICA */
.continer-musica{
    padding: 2rem 1rem 1rem 1rem;
    display: inline-block;
}
.continer-musica> h2{
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.menu-music-selection{
    text-align: center;
}
.menu-music-selection span{
    margin-right: 1rem;
    color: rgb(125, 127, 132);
}

/* Prima riga di musica */
.recently-played{
    display: flex;
}

.recently-played div{
    
    padding: 10px;
}
.recently-played div img{
    width: 100%;
}

/* Creato per John Doe */
.creation-for-JohnDoe-title,
.artisti-popolari{
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.creation-for-JohnDoe-title span,
.artisti-popolari span{
    color: gray;
}
.creation-for-JohnDoe-title-playlist{
    display: flex;
}
.creation-for-JohnDoe-title-playlist div{
    width: calc(100%/ 6);
    padding: 10px;
}
.creation-for-JohnDoe-title-playlist img{
    width: 100%;
}

/* Artisti popolari card */
.artisti-popolari-card{
    display: flex;
}
.artisti-popolari-card div{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin-right: 2rem;
}
.artisti-popolari-card img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;

}



/* ************FOOTER********* */
footer{
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    color: grey;
}

/* Colonna di sinistra Footer */
.col-left-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-col-left-footer-img{
    width: 50px;
    margin-right: 1rem;
}

.container-col-left-footer-img img{
    width: 100%;
}
.footer-song-name{
    color: white;
}
.hearth-folder-footer i{
    margin-right: 10px;
    margin-left: 20px;
}

/* Colonna Centrale Footer */
.col-center-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.time-music-footer-container{
    display: flex;
    margin-top: 20px;
    align-items: center;
   
}
.time-music-footer{
    width: 400px;
    height: 10px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.col-center-footer i{
    margin-right: 10px;
}




/* Colonna di destra Footer */
.col-right-footer{
    color: gray;
    display: flex;
    align-items: center;
}
.col-right-footer i{
    margin-left: 10px;
}

.volume-footer{
    height: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 150px;
    background-color: grey;
    margin-left: 10px;
}



/* *********MEDIA TABLE******** */
@media  screen and (max-width:1024px) {

    .time-music-footer{
        width: 200px;
    }
    .volume-footer{
        width: 80px;
    }

    .recently-played div{
        width: calc(100% / 4);
    }
    


}