*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body>div{
    height: 100vh;
}


/* ********* 
       DIMENSIONAMENTO PAGINA ***** */


main{
    height: 90%;
    display: flex;
}
footer{
    height: 10%;
}

/* *********** MAIN ********** */


/* Colonna di SINISTRA */
.col-left{
    background-color: black;
    color: rgb(125, 127, 132);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 4rem;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    

}
.section-up-col-left i{
    margin-right: 0.5rem;
}
/* Lista Nuova playlist */
.new-playlist{
   list-style-type: none;
   overflow: auto;
}

.plus-playlist{
    background-color: rgb(125, 127, 132);
    padding: 0.5rem;
    color: black;
}

.new-playlist li{
    margin-bottom: 1rem;
}

.section-up-col-left>div{
    margin-bottom: 1rem;
}
.section-down-col-left>div{
    margin-bottom: 1rem;
}
.section-down-col-left> hr{  
    width: 100%;
    color: rgb(125, 127, 132); 
}

/* Colonna DESTRA */
.col-right{ 
    background-color: rgb(20, 25, 34);
    display: flex;
    flex-direction: column;
    
}

/* UGRADE FIXED */
.upgrade-fixed{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.24);
    
}

.upgrade-fixed button{
   padding: 0.5rem 3rem 0.5rem 3rem;
   border-radius: 20px;
   background-color: rgba(0, 0, 0, 0.247);
   color: white;
   border-color: white;
   border-width: 1px;  
}

/* MUSICA */
.continer-musica{
    padding: 7rem 1rem 1rem 1rem;
    display: inline-block;
}

.menu-music-selection{
    text-align: center;
}
.menu-music-selection span{
    margin-right: 1rem;
    color: rgb(125, 127, 132);
}

/* Prima riga di musica */
.recently-played{
    display: flex;
}

.recently-played div{
    width: calc(100% / 6 -5rem);
    padding: 10px;
}
.recently-played div img{
    width: 100%;
}